<%=@campaign_list.each do |question_id,names| %>
    <ul>
      <li> <b><%=question_id%></b></li>
      <ul>
        <%names.each do |name|%>

            <li>
              <% if @gender_data.include?(name) %>
                  <b><%= name%></b>
              <% else %>
                  <%= name%>
              <% end %>
            </li>
        <% end %>

      </ul>

    </ul>
<% end %>