<%=@campaign_list.each do |question_id,names| %>
    <ul>
      <li> <%=question_id%></li>
      <ul>
        <%names.each do |name|%>
            <li><%= name%> </li>
        <% end %>

      </ul>

    </ul>
<% end %>